#Main{
background-color: white;
}
input[type=checkbox]{
    accent-color: green;
    
}
.show{
    display: block;
}

.bi-card-checklist{
    
    color: blueviolet;
    animation-name: Todo;
    animation:Todo 10s infinite;
}

@media (min-width:576px){
   #Main{
    width: 50%;
 
   }
}

@keyframes Todo {

    0%{color: red;}
    25%{color: aqua;}
    50%{color: blue;}
    75%{color: brown;}
    100%{color: yellow;}
    
}